@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;600&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  /* Waikawa Gray Scale */
  --color-gray-50:  #F5F5F5;
  --color-gray-100: #E0E1DD;
  --color-gray-150: #D0D2CE;
  --color-gray-200: #C5C7C2;
  --color-gray-250: #B5B8B3;
  --color-gray-300: #AAB0B5;
  --color-gray-400: #778DA9;
  --color-gray-500: #5A738F;
  --color-gray-600: #415A77;
  --color-gray-700: #2E405A;
  --color-gray-800: #1B263B;
  --color-gray-850: #141C2F;
  --color-gray-900: #0D1B2A;
  --color-gray-950: #050A13;
}

/* Optional: dark theme base */
.dark {
  background-color: var(--waikawa-gray-900);
  color: var(--waikawa-gray-50);
}


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));